<h1>Broadcasting</h1>

In [72]:
import numpy as np

In [73]:
my_3D_array = np.arange(70)
my_3D_array.shape = (2,7,5)
my_3D_array

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

In [74]:
# shape
my_3D_array.shape

(2, 7, 5)

In [75]:
# number of dimensions
my_3D_array.ndim

3

In [76]:
# size; number of elements
my_3D_array.size

70

In [77]:
# data type for each element
my_3D_array.dtype

dtype('int64')

In [78]:
5 * my_3D_array - 2

array([[[ -2,   3,   8,  13,  18],
        [ 23,  28,  33,  38,  43],
        [ 48,  53,  58,  63,  68],
        [ 73,  78,  83,  88,  93],
        [ 98, 103, 108, 113, 118],
        [123, 128, 133, 138, 143],
        [148, 153, 158, 163, 168]],

       [[173, 178, 183, 188, 193],
        [198, 203, 208, 213, 218],
        [223, 228, 233, 238, 243],
        [248, 253, 258, 263, 268],
        [273, 278, 283, 288, 293],
        [298, 303, 308, 313, 318],
        [323, 328, 333, 338, 343]]])

In [79]:
left_mat = np.arange(6).reshape((2,3))
right_mat = np.arange(15).reshape((3,5))
#right_mat = np.arange(15).reshape((5,3))
print (left_mat)
print (right_mat)

[[0 1 2]
 [3 4 5]]
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]

In [80]:
#np.inner(left_mat, right_mat)
#This function returns the inner product of vectors for 1-D arrays. 
#For higher dimensions, 
#it returns the sum product over the last axes.

In [81]:
inner_restult = np.inner(np.array([1,2,3]),np.array([0,1,0])) 
inner_restult
# Equates to 1*0+2*1+3*0 =2

2

In [82]:
# Multi-dimensional array example 
import numpy as np 
a = np.array([[1,2], [3,4]]) 

print ('Array a:')
print (a)
b = np.array([[11, 12], [13, 14]]) 

print ('Array b:')
print (b)
print (a.sum(axis=0))
print (a.sum(axis=1))

print ('Inner product:')
inner_restult = np.inner(a,b)

print (inner_restult)

#1*11+2*12, 1*13+2*14 
#3*11+4*12, 3*13+4*14

Array a:
[[1 2]
 [3 4]]
Array b:
[[11 12]
 [13 14]]
[4 6]
[3 7]
Inner product:
[[35 41]
 [81 95]]

In [83]:
print(left_mat)
print(right_mat)
np.dot(left_mat, right_mat)

[[0 1 2]
 [3 4 5]]
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]

array([[ 25,  28,  31,  34,  37],
       [ 70,  82,  94, 106, 118]])

<h2>Operations along axes</h2>

In [84]:
my_3D_array

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

In [85]:
# shape
my_3D_array.shape

(2, 7, 5)

In [86]:
my_3D_array.sum()

2415

In [87]:
(69 * 70)/2

2415.0

In [88]:
my_3D_array.sum(axis=0)

array([[ 35,  37,  39,  41,  43],
       [ 45,  47,  49,  51,  53],
       [ 55,  57,  59,  61,  63],
       [ 65,  67,  69,  71,  73],
       [ 75,  77,  79,  81,  83],
       [ 85,  87,  89,  91,  93],
       [ 95,  97,  99, 101, 103]])

In [89]:
my_3D_array.sum(axis=1)

array([[105, 112, 119, 126, 133],
       [350, 357, 364, 371, 378]])

In [90]:
my_3D_array.sum(axis=2)

array([[ 10,  35,  60,  85, 110, 135, 160],
       [185, 210, 235, 260, 285, 310, 335]])

<h2>Broadcasting Rules</h2>

In [91]:
my_2D_array = np.ones(35, dtype='int_').reshape((7,5)) * 3
my_2D_array

array([[3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3]])

In [92]:
my_random_2D_array = np.random.random((7,5))

In [93]:
np.set_printoptions(precision=4)
my_3D_array * my_random_2D_array

array([[[ 0.    ,  0.0675,  0.6983,  1.5896,  1.6862],
        [ 1.0719,  4.1672,  0.5888,  1.809 ,  2.9254],
        [ 5.9002,  3.5002,  7.5765,  9.7024,  7.777 ],
        [ 5.2954,  2.8019,  9.9836,  5.7907,  9.9476],
        [19.4476,  2.3287, 21.4399, 14.3885, 19.7732],
        [ 3.8238, 10.9884, 13.868 , 13.554 , 18.8937],
        [23.0087, 19.6628,  0.8247, 25.7454, 29.1253]],

       [[21.1295,  2.4312, 12.9186, 20.1352, 16.4409],
        [ 8.575 , 28.4759,  3.5329,  9.7235, 14.3021],
        [26.5511, 14.6372, 29.6747, 35.8243, 27.2193],
        [17.6515,  8.9311, 30.538 , 17.0505, 28.2722],
        [53.4809,  6.2099, 55.5489, 36.284 , 48.609 ],
        [ 9.1772, 25.7804, 31.8449, 30.4965, 41.6965],
        [49.8522, 41.8628,  1.7267, 53.0511, 59.1072]]])

In [94]:
my_vector = np.arange(5) * 7
my_vector[0] = -1
my_vector

array([-1,  7, 14, 21, 28])

In [95]:
my_3D_array / my_vector

array([[[ -0.    ,   0.1429,   0.1429,   0.1429,   0.1429],
        [ -5.    ,   0.8571,   0.5   ,   0.381 ,   0.3214],
        [-10.    ,   1.5714,   0.8571,   0.619 ,   0.5   ],
        [-15.    ,   2.2857,   1.2143,   0.8571,   0.6786],
        [-20.    ,   3.    ,   1.5714,   1.0952,   0.8571],
        [-25.    ,   3.7143,   1.9286,   1.3333,   1.0357],
        [-30.    ,   4.4286,   2.2857,   1.5714,   1.2143]],

       [[-35.    ,   5.1429,   2.6429,   1.8095,   1.3929],
        [-40.    ,   5.8571,   3.    ,   2.0476,   1.5714],
        [-45.    ,   6.5714,   3.3571,   2.2857,   1.75  ],
        [-50.    ,   7.2857,   3.7143,   2.5238,   1.9286],
        [-55.    ,   8.    ,   4.0714,   2.7619,   2.1071],
        [-60.    ,   8.7143,   4.4286,   3.    ,   2.2857],
        [-65.    ,   9.4286,   4.7857,   3.2381,   2.4643]]])

In [96]:
my_3D_array % my_vector

array([[[ 0,  1,  2,  3,  4],
        [ 0,  6,  7,  8,  9],
        [ 0,  4, 12, 13, 14],
        [ 0,  2,  3, 18, 19],
        [ 0,  0,  8,  2, 24],
        [ 0,  5, 13,  7,  1],
        [ 0,  3,  4, 12,  6]],

       [[ 0,  1,  9, 17, 11],
        [ 0,  6,  0,  1, 16],
        [ 0,  4,  5,  6, 21],
        [ 0,  2, 10, 11, 26],
        [ 0,  0,  1, 16,  3],
        [ 0,  5,  6,  0,  8],
        [ 0,  3, 11,  5, 13]]])

In [97]:
my_2d_ones_array = np.ones((7,5))

In [98]:
my_2d_ones_array

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [100]:
my_3D_array * my_2d_ones_array

array([[[ 0.,  1.,  2.,  3.,  4.],
        [ 5.,  6.,  7.,  8.,  9.],
        [10., 11., 12., 13., 14.],
        [15., 16., 17., 18., 19.],
        [20., 21., 22., 23., 24.],
        [25., 26., 27., 28., 29.],
        [30., 31., 32., 33., 34.]],

       [[35., 36., 37., 38., 39.],
        [40., 41., 42., 43., 44.],
        [45., 46., 47., 48., 49.],
        [50., 51., 52., 53., 54.],
        [55., 56., 57., 58., 59.],
        [60., 61., 62., 63., 64.],
        [65., 66., 67., 68., 69.]]])

In [105]:
print(my_vector)
print(my_3D_array)
my_vector/my_3D_array

[-1  7 14 21 28]
[[[ 1  1  2  3  4]
  [ 5  6  7  8  9]
  [10 11 12 13 14]
  [15 16 17 18 19]
  [20 21 22 23 24]
  [25 26 27 28 29]
  [30 31 32 33 34]]

 [[35 36 37 38 39]
  [40 41 42 43 44]
  [45 46 47 48 49]
  [50 51 52 53 54]
  [55 56 57 58 59]
  [60 61 62 63 64]
  [65 66 67 68 69]]]

array([[[-1.    ,  7.    ,  7.    ,  7.    ,  7.    ],
        [-0.2   ,  1.1667,  2.    ,  2.625 ,  3.1111],
        [-0.1   ,  0.6364,  1.1667,  1.6154,  2.    ],
        [-0.0667,  0.4375,  0.8235,  1.1667,  1.4737],
        [-0.05  ,  0.3333,  0.6364,  0.913 ,  1.1667],
        [-0.04  ,  0.2692,  0.5185,  0.75  ,  0.9655],
        [-0.0333,  0.2258,  0.4375,  0.6364,  0.8235]],

       [[-0.0286,  0.1944,  0.3784,  0.5526,  0.7179],
        [-0.025 ,  0.1707,  0.3333,  0.4884,  0.6364],
        [-0.0222,  0.1522,  0.2979,  0.4375,  0.5714],
        [-0.02  ,  0.1373,  0.2692,  0.3962,  0.5185],
        [-0.0182,  0.125 ,  0.2456,  0.3621,  0.4746],
        [-0.0167,  0.1148,  0.2258,  0.3333,  0.4375],
        [-0.0154,  0.1061,  0.209 ,  0.3088,  0.4058]]])

In [103]:
my_3D_array[0][0][0]=1